<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Validation Wrong</title>
</head>

<body>
  <h3>Address* (should be at least 10 characters)</h3>
  <h3>Email* (should be a valid email address)</h3>
  <h3>Phone number (should be at least 10 number + country code)</h3>
  <h3>Password* (must contain one upper character, one lower character and a number. Max length 15 and min length 8)</h3>
</body>

</html>
