.container {
  max-width: 960px;
}

.form-control
{
  width:50%;
}

.input-group
{
  width:50%;
}

.form{
  justify-content: center;
  align-items: center;
}

.btn
{
  margin: 20px 0;
  width: 50%;
}
